{
  "env": {
    "node": {
      "presets": [
        ["env", {
          "targets": {
            "node": "4"
          },
          "modules": false,
          "useBuiltIns": true
        }]
      ]
    },
    "browser": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": [
              "> 1%",
              "last 2 versions",
              "not ie < 11"
            ]
          },
          "modules": false,
          "useBuiltIns": true
        }]
      ]
    }
  }
}
